<html>
  <head>
    <link rel="stylesheet" href="./assets/main.css">
  </head>
  <body>
    <h1 class="parent-name">{{name}}</h1>
    <br/>
    {{#classes}}
      <div>
        <h3>{{name}}</h3>
        {{#methods}}
          {{>method}}
        {{/methods}}
      </div>
      <br/><br/><br/>
    {{/classes}}

  </body>
</html>